.content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
}
.header-title {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 64px;
}

.icon {
    width: 32px;
    height: 32px;
}

.nav {
    padding: 12px;
}

.nav a {
    color: white;
}

h5 {
    margin: 0;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

hr {
    text-align: center;
    border: solid rgb(18, 150, 218);
    width: 20%
}

p {
    text-indent: 2em;
    margin: 5px;
}

img {
    width: 150px;
    height: 150px;
    padding: 0;
    z-index: -999;
}
.footer-img {
    width: 40%;
    height: 80%;
    padding: 20px 20px;
}

footer h4 {
    padding: 10px;
}

.col-12 table {
    background-color: rgb(250, 250, 250);
}

html,
body {
    margin: 0;
    padding: 0;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

.map {
    width: 100%;
    height: 100%;
    border: rgb(18, 150, 218) solid 1px;
}

.logo {
    width: 40px;
    height: 40px;
}

.message {
    width: 100%;
    min-height: 300px;
    text-align: center;
}

.substance {
    width: 100%;
    height: 2000px;
}

.substance-left {
    width: 50%;
    height: 400px;
    float: left;
    padding: 50px;
}

.substance-right {
    width: 50%;
    height: 400px;
    float: right;
    padding: 50px;
}
.table tr td:first-child img {
    width: 60px;
    height: 60px;
}

.loding {
    width: 100%;
    height: 80px;
}
.detail{
    width: 100%;
    height: 100%;
}