.carousel-inner img {
    width: 100%;
}

.icon {
    width: 32px;
    height: 32px;
}
hr {
    text-align: center;
    border: solid rgb(18, 150, 218);
    width: 100%
}
.card{
    margin: auto;
    margin-bottom: 20px;
}
p{
    text-indent: 2em;
}
.margin{
    margin: 0;
}
.padding{
    padding: 0;
}
.footer-img {
    width: 50%;
    padding: 20px 20px;
}